@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* primary ui colors */
  --primary-color: #5865f2;

  /* backgrounds */
  --background: #ffffff;
  --secondary-bg: #f3f3f3;
  --third-bg: #e9e9e9;

  /* text & labels */
  --foreground: #000000;
  --label-text-color: #747474;
  --secondary-label-text-color: #979797;

  /* radius */
  --primary-radius: 8px;

  /* links */
  --link-color: #2ba0ff;

  /* badge colors */
  --badge-green-border: #6aeeae79;
  --badge-green-bg: #6aeeae2e;
  --badge-green-fg: #6aeeaf;

  --badge-purple-border: #b700ff90;
  --badge-purple-bg: #b700ff32;
  --badge-purple-fg: #c567fb;

  --badge-pink-border: #ff00cc90;
  --badge-pink-bg: #ff00cc3d;
  --badge-pink-fg: #ff32d6;

  --badge-primary-purple-border: #5865f28e;
  --badge-primary-purple-bg: #5865f223;
  --badge-primary-purple-fg: #5865f2;

  /* org projects colors */
  --project-green: #6aeeae3b;
  --project-purple: #5865f275;
  --project-pink: #ff00b336;
  --project-yellow: #eeff002f;
  --project-blue: #0091ff2f;
  --project-red: #ff00002f;
  --project-orange: #ff6f002f;

  /* border color */
  --primary-border-color: #d8d8d8;
  --primary-purple-border-color-50: #4c58d6;
  --secondary-border-color: #e2e2e2;

  /* hover */
  --primary-purple-hover-bg: #4651ca;
  --secondary-hover-bg: #ebebeb;
  --primary-hover-bg: #eaeaea;

  /* content color */
  --content-color: #eaeaea;

  /* overlay */
  --overlay-bg-dialog: #0000008e;

  /* separator color */
  --secondary-separator-color: white;

  /* scrollbar color */
  --scrollbar-color: #c0c0c0;

  /* transparents */
  --primary-purple-transparent: #5865f22b;

  /* loader */
  --skeleton-base-color: #0a0a0a;
  --skeleton-highlightColor: #2d2d2d;

  /* svg */
  --svg-default-color: #b1b1b1;

  /* buttons */
  --button-primary-disabled: #14183a;

  /* gradients text */
  --text-color-gradient-b: #000000;
  --text-color-gradient-t: #4a4a4a;

  /* outline border */
  --outline-offset-color: #D2D2D2 ;
  --outline-border-color: #474747 ;
}

.dark {
  --background: #000000;
  --secondary-bg: #0a0a0a;
  --third-bg: #141414;

  
  /* border */
  --primary-border-color: #2a2a2a;
  --secondary-border-color: #252525;

  /* hover */
  --secondary-hover-bg: #191919;
  --primary-hover-bg: #121212;

  /* overlay */
  --overlay-bg-dialog: #000000b6;

  /* separator color */
  --secondary-separator-color: #2a2a2a;

  /* gradient colors */
  --gradient-team-header: #5865f232;
  --gradient-grid-team-header: #5865f232;
  --gradient-grid-main-header: #ffffff15;

  /* content color */
  --content-color: #eaeaea;

  /* text & labels */
  --foreground: #ffffff;
  --label-text-color: #b1b1b1;
  --secondary-label-text-color: #717171;

  /* scrollbar color */
  --scrollbar-color: #474747;

/* gradients text */
  --text-color-gradient-b: #707070;
  --text-color-gradient-t: #ffffff;

  /* outline border */
  --outline-offset-color: #454545 ;
  --outline-border-color: #c8c8c8 ;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
}

/* ::selection {
  background: #5865f27c !important;
} */

@layer utilities {
  .fx-org-layout-width {
    @apply max-w-[1500px] w-full;
  }

  .fx-layout-max-1200 {
    @apply max-w-[1200px] w-full;
  }

  .fx-default-layout {
    @apply max-w-[1540px] w-full;
  }

  .fx-dlayout-padding {
    @apply p-3;
  }
  /* background */
  .fx-primary-bg {
    @apply bg-[var(--background)];
  }

  .fx-secondary-bg {
    @apply bg-[var(--secondary-bg)];
  }

  .fx-third-bg {
    @apply bg-[var(--third-bg)];
  }

  .fx-primary-purple-bg {
    @apply bg-[var(--primary-color)];
  }

  .fx-primary-purple-transparent-bg {
    @apply bg-[var(--primary-purple-transparent)];
  }

  /* text & labels */

  .fx-label-color {
    @apply text-[var(--label-text-color)];
  }

  .fx-sec-label-color {
    @apply text-[var(--secondary-label-text-color)];
  }

  .fx-text-red {
    @apply text-[#ff1919];
  }

  .fx-primary-purple-text {
    @apply text-[var(--primary-color)];
  }

  /* hover */
  .fx-secondary-hover-bg {
    @apply hover:bg-[var(--secondary-hover-bg)];
  }

  .fx-hover-primary-fg {
    @apply hover:text-[var(--primary-color)];
  }

  .fx-hover-primary-purple-bg {
    @apply hover:bg-[var(--primary-purple-hover-bg)];
  }

  .fx-primary-hover-bg {
    @apply hover:bg-[var(--primary-hover-bg)];
  }

  /* radius */

  .fx-rounded {
    @apply rounded-[8px];
  }

  /* input */

  .fx-input-bg {
    @apply bg-[var(--primary-input-bg)];
  }

  .fx-input-outline {
    outline: 3px solid var(--outline-offset-color);
    border: 1px solid var(--outline-border-color);
  }

  .outline-fxInput {
    outline: 1px solid var(--primary-color);
  }

  /* link */
  .fx-link-color {
    @apply text-[var(--link-color)];
  }

  /* borders */

  .fx-border-color {
    @apply border-[var(--primary-border-color)];
  }

  .fx-primary-purple-border {
    @apply border-[var(--primary-color)];
  }

  .fx-primary-purple-border-50 {
    @apply border-[var(--primary-purple-border-color-50)];
  }

  /* separator color */
  .fx-sec-separator-text-color {
    @apply text-[var(--secondary-separator-color)];
  }

  /* flex */
  .fx-flex-center {
    @apply flex justify-center items-center;
  }

  .fx-flex-ct {
    @apply flex justify-center items-start;
  }

  .fx-flex-cr {
    @apply flex justify-end items-center;
  }

  .fx-flex-cl {
    @apply flex justify-start items-center;
  }

  .fx-flex-tl {
    @apply flex justify-start items-start;
  }

  .fx-flex-tr {
    @apply flex justify-end items-start;
  }

  .fx-flex-bl {
    @apply flex justify-start items-end;
  }

  .fx-flex-br {
    @apply flex justify-end items-end;
  }

  .fx-flex-between-ic {
    @apply flex justify-between items-center;
  }

  .fx-flex-between-it {
    @apply flex justify-between items-start;
  }

  .black-white-gradient-bt {
    background-image: linear-gradient(to top, var(--text-color-gradient-b) 10%, var(--text-color-gradient-t) 60% );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    width: 100%;
  }

  .three-line-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .two-line-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .one-line-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .shborder {
    box-shadow:
      0 0 0 1px var(--primary-border-color),
      inset 0 0 0 1px var(--background);
  }

  .shborder-secondary {
    box-shadow:
      0 0 0 1px var(--primary-border-color),
      inset 0 0 0 1px var(--secondary-bg);
  }

  .fx-layout-h-exc-hdr-app {
    height: calc(100vh - 61px);
  }

  .fx-secondary-shadow-t {
    box-shadow: 0 -10px 20px var(--secondary-bg);
  }

  /* scrollbar */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
    scrollbar-gutter: stable;
  }

  .workspace-exclude-header {
    @apply pt-[64px];
  }

  .outline-fxInput {
    outline: 2px solid var(--primary-color);
  }
}

@layer base {
  :root {
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.hide-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.top-loader {
  position: absolute;
  left: -100%;
  width: 80%;
  top: 0;
  animation: topLoader 1.3s ease-in-out infinite;
}

@keyframes topLoader {
  100% {
    left: 100%;
    width: 10%;
  }
}

.spinner-loading {
  animation: spinnerLoading 1s linear infinite;
}

@keyframes spinnerLoading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.PZLPMy a {
  display: none !important;
}

.active-theme-mode {
  box-shadow: inset 0px 0px 15px #ffffff4e;
  transition: 0.2s ease-in-out;
  width: 30px;
  height: 30px;
  position: absolute;
  border: none;
  z-index: -1;
  top: 0;
  left: 0;
  border-radius: 50%;
  flex-shrink: 0;
}

.light .active-theme-mode {
  box-shadow: inset 0px 0px 10px #00000041;
}

.dark .invert-fav {
  filter: invert(1);
}

.prose code::before,
.prose code::after {
  content: none; /* Remove the backtick or any unwanted content before the code */
}

/* Ensure the code block styling is applied without extra formatting */
.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  background-color: #ffffff17;
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

.light
  .prose
  :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  background-color: #00000015;
}

pre code {
  background-color: transparent !important;
  padding: 0px !important;
  border-radius: 0px !important;
}

.prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: var(--link-color);
  text-decoration: none;
  font-weight: inherit;
}

.short-loader {
  animation: shortLoader 1s infinite ease-in-out;
}

@keyframes shortLoader {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(200%);
  }
}
