@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* fx default colors */
  /* ZINC */
  --color-zinc-950: #09090b;
  --color-zinc-925: #111113;
  --color-zinc-900: #18181b;
  --color-zinc-850: #1e1e21;
  --color-zinc-800: #27272a;
  --color-zinc-750: #2e2e36;
  --color-zinc-700: #3f3f46;
  --color-zinc-600: #52525b;
  --color-zinc-500: #71717a;
  --color-zinc-400: #a1a1aa;
  --color-zinc-350: #c8c8cc;
  --color-zinc-300: #d4d4d8;
  --color-zinc-250: #dddddf;
  --color-zinc-200: #e4e4e7;
  --color-zinc-100: #f4f4f5;
  --color-zinc-50: #fafafa;

  /* INDIGO */
  --color-indigo-950: #1e1b4b;
  --color-indigo-900: #312e81;
  --color-indigo-800: #3730a3;
  --color-indigo-700: #4338ca;
  --color-indigo-600: #4f46e5;
  --color-indigo-500: #6366f1;
  --color-indigo-400: #818cf8;
  --color-indigo-300: #a5b4fc;
  --color-indigo-200: #c7d2fe;
  --color-indigo-100: #e0e7ff;
  --color-zinc-75: #f7f7f8;
  --color-indigo-50: #eef2ff;

  /* primary color */
  --primary-color: var(--color-indigo-600);

  /* backgrounds */
  --background: var(--color-zinc-50);

  --background-color-925C: var(--color-zinc-75);
  --background-color-900C: var(--color-zinc-100);
  --background-color-800C: var(--color-zinc-200);
  --background-color-850C: var(--color-zinc-250);
  --background-color-750C: var(--color-zinc-350);

  /* text & labels */
  --foreground: var(--color-zinc-950);
  --foreground-color-2: var(--color-zinc-600);
  --foreground-color-3: var(--color-zinc-500);
  --foreground-color-4: var(--color-zinc-700);

  /* radius */
  --primary-radius: 8px;

  /* links */
  --link-color: #3b82f6;

  /* badge colors */
  --badge-green-border: #6aeeae79;
  --badge-green-bg: #6aeeae2e;
  --badge-green-fg: #6aeeaf;

  --badge-purple-border: #b700ff90;
  --badge-purple-bg: #b700ff32;
  --badge-purple-fg: #c567fb;

  --badge-pink-border: #ff00cc90;
  --badge-pink-bg: #ff00cc3d;
  --badge-pink-fg: #ff32d6;

  --badge-primary-purple-border: #5865f28e;
  --badge-primary-purple-bg: #5865f223;
  --badge-primary-purple-fg: #5865f2;

  /* border color */
  --border-color-1: var(--color-zinc-300);
  --border-color-2: var(--color-zinc-400);

  /* overlay */
  --overlay-bg-dialog: #09090ba6;

  /* scrollbar color */
  --scrollbar-color: var(--color-zinc-200);

  /* loader */
  --skeleton-base-color: var(--color-zinc-200);
  --skeleton-highlightColor: var(--color-zinc-50);

  /* svg */
  --svg-default-color: var(--color-zinc-500);

  /* gradients text */
  --text-color-gradient-b: #000000;
  --text-color-gradient-t: #4a4a4a;

  /* outline border */
  --outline-offset-color: var(--color-zinc-300);
  --outline-border-color: var(--color-zinc-600);

  /* other colors */
  --surface-indigo-bg: #171d3b80;
  --surface-indigo-bg-active: #2f62ff3c;
  --surface-indigo-border: #5a7fff90;
  --surface-indigo-border-active: #5b81feac;
  --surface-indigo-fg: #9eb1ff;

  /* shiki */
  --twoslash-border-color: #8888;
  --twoslash-underline-color: currentColor;
  --twoslash-highlighted-border: #c37d0d50;
  --twoslash-highlighted-bg: #c37d0d20;
  --twoslash-popup-bg: #f8f8f8;
  --twoslash-popup-color: inherit;
  --twoslash-popup-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px;
  --twoslash-docs-color: #888;
  --twoslash-docs-font: sans-serif;
  --twoslash-code-font: inherit;
  --twoslash-code-font-size: 1em;
  --twoslash-matched-color: inherit;
  --twoslash-unmatched-color: #888;
  --twoslash-cursor-color: #8888;
  --twoslash-error-color: #d45656;
  --twoslash-error-bg: #d4565620;
  --twoslash-warn-color: #c37d0d;
  --twoslash-warn-bg: #c37d0d20;
  --twoslash-tag-color: #3772cf;
  --twoslash-tag-bg: #3772cf20;
  --twoslash-tag-warn-color: var(--twoslash-warn-color);
  --twoslash-tag-warn-bg: var(--twoslash-warn-bg);
  --twoslash-tag-annotate-color: #1ba673;
  --twoslash-tag-annotate-bg: #1ba67320;

  --code-error-border: #f87171;
  --code-error-background: #ef44443a;

  --code-add-color: #059669;
  --code-remove-color: #dc2626;
  --code-add-bg-color: #10b9812a;
  --code-remove-bg-color: #dc26262f;
}

.dark {
  --background: var(--color-zinc-950);

  --background-color-925C: var(--color-zinc-925);
  --background-color-900C: var(--color-zinc-900);
  --background-color-800C: var(--color-zinc-800);
  --background-color-850C: var(--color-zinc-850);
  --background-color-750C: var(--color-zinc-750);

  /* border */
  --border-color-1: var(--color-zinc-800);
  --border-color-2: var(--color-zinc-700);

  /* overlay */
  --overlay-bg-dialog: #09090bc3;

  /* text & labels */
  --foreground: var(--color-zinc-50);
  --foreground-color-2: var(--color-zinc-400);
  --foreground-color-3: var(--color-zinc-500);
  --foreground-color-4: var(--color-zinc-300);

  /* loader */
  --skeleton-base-color: var(--color-zinc-900);
  --skeleton-highlightColor: var(--color-zinc-700);

  /* svg */
  --svg-default-color: var(--color-zinc-400);

  /* scrollbar color */
  --scrollbar-color: var(--color-zinc-800);

  /* gradients text */
  --text-color-gradient-b: var(--color-zinc-600);
  --text-color-gradient-t: var(--color-zinc-50);

  /* outline border */
  --outline-offset-color: var(--color-zinc-600);
  --outline-border-color: var(--color-zinc-300);

  /* codeblock */
  --code-error-border: #dc2626;
  --code-error-background: #dc26262f;

  --code-add-color: #10b981;
  --code-remove-color: #ef4444;
  --code-add-bg-color: #10b9812a;
  --code-remove-bg-color: #dc26262f;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
}

/* ::selection {
  background: #5865f27c !important;
} */

@layer utilities {
  .fx-layout-max-1200 {
    @apply max-w-[1200px] w-full;
  }

  .fx-default-layout {
    @apply max-w-[1540px] w-full;
  }

  .fx-dlayout-padding {
    @apply p-3;
  }

  /* radius */

  .fx-rounded {
    @apply rounded-[8px];
  }

  /* input */

  .fx-input-bg {
    @apply bg-[var(--primary-input-bg)];
  }

  .fx-input-outline {
    outline: 3px solid var(--outline-offset-color);
    border: 1px solid var(--outline-border-color);
    transition: border-color 0.15s;
  }

  .outline-fxInput {
    outline: 1px solid var(--primary-color);
  }

  /* link */
  .fx-link-color {
    @apply text-[var(--link-color)];
  }

  /* flex */
  .fx-flex-center {
    @apply flex justify-center items-center;
  }

  .fx-flex-ct {
    @apply flex justify-center items-start;
  }

  .fx-flex-cr {
    @apply flex justify-end items-center;
  }

  .fx-flex-cl {
    @apply flex justify-start items-center;
  }

  .fx-flex-tl {
    @apply flex justify-start items-start;
  }

  .fx-flex-tr {
    @apply flex justify-end items-start;
  }

  .fx-flex-bl {
    @apply flex justify-start items-end;
  }

  .fx-flex-br {
    @apply flex justify-end items-end;
  }

  .fx-flex-between-ic {
    @apply flex justify-between items-center;
  }

  .fx-flex-between-it {
    @apply flex justify-between items-start;
  }

  .black-white-gradient-bt {
    background-image: linear-gradient(
      to top,
      var(--text-color-gradient-b) 10%,
      var(--text-color-gradient-t) 60%
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    width: 100%;
  }

  .three-line-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .two-line-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .one-line-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .shborder {
    box-shadow:
      0 0 0 1px var(--primary-border-color),
      inset 0 0 0 1px var(--background);
  }

  .shborder-secondary {
    box-shadow:
      0 0 0 1px var(--primary-border-color),
      inset 0 0 0 1px var(--secondary-bg);
  }

  .fx-layout-h-exc-hdr-app {
    height: calc(100vh - 61px);
  }

  .fx-secondary-shadow-t {
    box-shadow: 0 -10px 20px var(--secondary-bg);
  }

  /* scrollbar */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
    scrollbar-gutter: stable;
  }

  .workspace-exclude-header {
    @apply pt-[64px];
  }

  .outline-fxInput {
    outline: 2px solid var(--primary-color);
  }
}

@layer base {
  :root {
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.hide-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.top-loader {
  position: absolute;
  left: -100%;
  width: 80%;
  top: 0;
  animation: topLoader 1.3s ease-in-out infinite;
}

@keyframes topLoader {
  100% {
    left: 100%;
    width: 10%;
  }
}

.spinner-loading {
  animation: spinnerLoading 1s linear infinite;
}

@keyframes spinnerLoading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.PZLPMy a {
  display: none !important;
}

.active-theme-mode {
  box-shadow: inset 0px 0px 15px #ffffff4e;
  transition: 0.2s ease-in-out;
  width: 30px;
  height: 30px;
  position: absolute;
  border: none;
  z-index: -1;
  top: 0;
  left: 0;
  border-radius: 50%;
  flex-shrink: 0;
}

.light .active-theme-mode {
  box-shadow: inset 0px 0px 10px #00000041;
}

.dark .invert-fav {
  filter: invert(1);
}

.short-loader {
  animation: shortLoader 1s infinite ease-in-out;
}

@keyframes shortLoader {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(200%);
  }
}

.theme-color-mode-active svg {
  fill: var(--foreground) !important;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.dark .main-header {
  background: #09090bb3;
}

.light .main-header {
  background: #fafafabb;
}

/* uses in page titles */
.fx_page_title {
  font-size: clamp(30px, 5vw, 48px);
  line-height: 1.2;
}

/* uses in design */
.main_hero_heading_sync {
  font-size: clamp(35px, 5vw, 56px);
  line-height: 1.1;
}

.weight_450 {
  font-weight: 450;
}

/*========================================= MDX CONTENT STYLES ===================================*/
.prose code::before,
.prose code::after {
  content: none; /* Remove the backtick or any unwanted content before the code */
}

/* Ensure the code block styling is applied without extra formatting */
.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  background-color: var(--background-color-800C);
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: var(--font-jetbrains-mono);
}

/* single code highlight */
.light
  .prose
  :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  background-color: var(--background-color-800C);
}

.light .codeblockwithouttypes .highlighted {
  background-color: #7e22ce28;
  border-left: 2px solid var(--color-indigo-600);
}

pre {
  padding: 15px 0px !important;
  font-family: var(--font-jetbrains-mono);
}

pre code {
  background-color: transparent !important;
  padding: 0px !important;
  border-radius: 0px !important;
  display: grid;
  /* grid-template-columns: max-content; */
  width: 100%;
  text-wrap: wrap;
  position: relative;
  font-family: var(--font-jetbrains-mono);

  [data-line] {
    padding-inline: 20px;
  }

  [data-highlighted-line] {
    background-color: var(--background-color-800C);
    border-left: 2px solid var(--color-purple-700);
  }

  .highlighted {
    background-color: #7e22ce40;
    border-left: 2px solid var(--color-purple-700);
  }

  .add {
    background-color: var(--code-add-bg-color);
    position: relative;
    padding-inline-start: 40px;
  }

  .add:before {
    content: "+";
    color: var(--code-add-color);
    background-color: var(--code-add-bg-color);
    left: 0px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;

    width: 24px;
    height: 100%;
  }

  .remove {
    background-color: var(--code-remove-bg-color);
    position: relative;
    padding-inline-start: 40px;
  }

  .remove:before {
    content: "-";
    color: var(--code-remove-color);
    background-color: var(--code-remove-bg-color);
    left: 0px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    width: 24px;
    height: 100%;
  }

  .warning {
    background-color: #ffc1073d;
    border-left: none;
  }

  .error {
    border: 2px solid var(--code-error-border) !important;
    background-color: var(--code-error-background) !important;
  }

  .highlighted-word {
    background-color: var(--background-color-800C);
    border: 1px solid var(--border-color-1);
    padding: 1px;
    border-radius: 3px;
  }
}

.dark pre code .highlighted-word {
  background-color: var(--background-color-700C);
  border: 1px solid var(--border-color-2);
  padding: 1px;
  border-radius: 3px;
}

/* Apply blur to everything inside <pre> except for .focused elements */
pre:has(.focused) span {
  filter: blur(3px);
  transition: filter 0.2s ease-in-out;
}

pre code .focused * {
  filter: none !important;
}
pre code .focused {
  filter: none !important;
}

/* Optional: On hover, remove the blur from everything */
pre:has(.focused):hover span {
  filter: none;
}

.codeblock .line {
  padding: 0px 10px;
}

.codeblock pre {
  height: 100%;
  padding-top: 0px !important;
}

.codeblock code {
  counter-reset: step;
  counter-increment: step 0;
  width: 100%;
  display: grid;
  /* grid-template-columns: max-content; */
  text-wrap: wrap;
}

.codeblock code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.3rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}

.codeblock .shiki,
.codeblock .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--github-default-background-color-2) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.prose {
  max-width: 100%;
  min-width: 10px;
}

.heading_default {
  line-height: 44px;
  font-size: 40px;
  font-weight: 600;
}

.prose :where(hr):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  border-color: var(--border-color-1);
}

/* ===== TWOSLASH STYLES ===== */
.twoslash:hover .twoslash-hover {
  border-color: var(--twoslash-underline-color);
}

.twoslash .twoslash-hover {
  border-bottom: 1px dotted transparent;
  transition-timing-function: ease;
  transition: border-color 0.3s;
  position: relative;
}

.twoslash .twoslash-popup-container {
  position: absolute;
  opacity: 0;
  display: inline-flex;
  flex-direction: column;
  transform: translateY(1.1em);
  background: var(--twoslash-popup-bg);
  color: var(--twoslash-popup-color);
  border: 1px solid var(--twoslash-border-color);
  transition: opacity 0.3s;
  border-radius: 4px;
  pointer-events: none;
  z-index: 10;
  user-select: none;
  text-align: left;
  box-shadow: var(--twoslash-popup-shadow);
}

.twoslash .twoslash-query-presisted .twoslash-popup-container {
  z-index: 9;
  transform: translateY(1.5em);
}

.twoslash .twoslash-hover:hover .twoslash-popup-container,
.twoslash .twoslash-error-hover:hover .twoslash-popup-container,
.twoslash .twoslash-query-presisted .twoslash-popup-container,
.twoslash .twoslash-query-line .twoslash-popup-container {
  opacity: 1;
  pointer-events: auto;
}

.twoslash .twoslash-popup-container:hover {
  user-select: auto;
}

.twoslash .twoslash-popup-arrow {
  position: absolute;
  top: -4px;
  left: 1em;
  border-top: 1px solid var(--twoslash-border-color);
  border-right: 1px solid var(--twoslash-border-color);
  background: var(--twoslash-popup-bg);
  transform: rotate(-45deg);
  width: 6px;
  height: 6px;
  pointer-events: none;
}

.twoslash .twoslash-popup-code,
.twoslash .twoslash-popup-error,
.twoslash .twoslash-popup-docs {
  padding: 6px 8px !important;
}

.twoslash .twoslash-popup-code {
  font-family: var(--twoslash-code-font);
  font-size: var(--twoslash-code-font-size);
}

.twoslash .twoslash-popup-docs {
  color: var(--twoslash-docs-color);
  font-family: var(--twoslash-docs-font);
  font-size: 0.8em;
  border-top: 1px solid var(--twoslash-border-color);
}

.twoslash .twoslash-popup-error {
  color: var(--twoslash-error-color);
  background-color: var(--twoslash-error-bg);
  font-family: var(--twoslash-docs-font);
  font-size: 0.8em;
}

.twoslash .twoslash-popup-docs-tags {
  display: flex;
  flex-direction: column;
  font-family: var(--twoslash-docs-font);
}

.twoslash .twoslash-popup-docs-tags,
.twoslash .twoslash-popup-docs-tag-name {
  margin-right: 0.5em;
}

.twoslash .twoslash-popup-docs-tag-name {
  font-family: var(--twoslash-code-font);
}

/* ===== Query Line ===== */
.twoslash .twoslash-query-line .twoslash-popup-container {
  position: relative;
  margin-bottom: 1.4em;
  transform: translateY(0.6em);
}

/* ===== Error Line ===== */
.twoslash .twoslash-error-line {
  position: relative;
  background-color: var(--twoslash-error-bg);
  border-left: 3px solid var(--twoslash-error-color);
  color: var(--twoslash-error-color);
  padding: 6px 12px;
  margin: 0.2em 0;
  min-width: 100%;
  width: max-content;
}

.twoslash .twoslash-error-line.twoslash-error-level-warning {
  background-color: var(--twoslash-warn-bg);
  border-left: 3px solid var(--twoslash-warn-color);
  color: var(--twoslash-warn-color);
}

.twoslash .twoslash-error {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23c94824'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
    repeat-x bottom left;
  padding-bottom: 2px;
}

.twoslash .twoslash-error.twoslash-error-level-warning {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23c37d0d'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
    repeat-x bottom left;
  padding-bottom: 2px;
}

/* ===== Completeions ===== */
.twoslash .twoslash-completion-cursor {
  position: relative;
}

.twoslash .twoslash-completion-cursor .twoslash-completion-list {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 1.2em);
  margin: 3px 0 0 -1px;
  display: inline-block;
  z-index: 8;
  box-shadow: var(--twoslash-popup-shadow);
  background: var(--twoslash-popup-bg);
  border: 1px solid var(--twoslash-border-color);
}

.twoslash-completion-list {
  width: 240px;
  font-size: 0.8rem;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.twoslash-completion-list:hover {
  user-select: auto;
}

.twoslash-completion-list::before {
  background-color: var(--twoslash-cursor-color);
  width: 2px;
  position: absolute;
  top: -1.6em;
  height: 1.4em;
  left: -1px;
  content: " ";
}

.twoslash-completion-list li {
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 0.25em;
  line-height: 1em;
}

.twoslash-completion-list li span.twoslash-completions-unmatched {
  color: var(--twoslash-unmatched-color);
}

.twoslash-completion-list .deprecated {
  text-decoration: line-through;
  opacity: 0.5;
}

.twoslash-completion-list li span.twoslash-completions-matched {
  color: var(--twoslash-matched-color);
}

/* Highlights */
.twoslash-highlighted {
  background-color: var(--twoslash-highlighted-bg);
  border: 1px solid var(--twoslash-highlighted-border);
  padding: 1px 2px;
  margin: -1px -3px;
  border-radius: 4px;
}

/* Icons */
.twoslash-completion-list .twoslash-completions-icon {
  color: var(--twoslash-unmatched-color);
  width: 1em;
  flex: none;
}

/* Custom Tags */
.twoslash .twoslash-tag-line {
  position: relative;
  background-color: var(--twoslash-tag-bg);
  border-left: 3px solid var(--twoslash-tag-color);
  color: var(--twoslash-tag-color);
  padding: 6px 10px;
  margin: 0.2em 0;
  display: flex;
  align-items: center;
  gap: 0.3em;
  min-width: 100%;
  width: max-content;
}

.twoslash .twoslash-tag-line .twoslash-tag-icon {
  width: 1.1em;
  color: inherit;
}

.twoslash .twoslash-tag-line.twoslash-tag-error-line {
  background-color: var(--twoslash-error-bg);
  border-left: 3px solid var(--twoslash-error-color);
  color: var(--twoslash-error-color);
}

.twoslash .twoslash-tag-line.twoslash-tag-warn-line {
  background-color: var(--twoslash-tag-warn-bg);
  border-left: 3px solid var(--twoslash-tag-warn-color);
  color: var(--twoslash-tag-warn-color);
}

.twoslash .twoslash-tag-line.twoslash-tag-annotate-line {
  background-color: var(--twoslash-tag-annotate-bg);
  border-left: 3px solid var(--twoslash-tag-annotate-color);
  color: var(--twoslash-tag-annotate-color);
}

.twoslash-popup-container pre {
  display: block;
  text-wrap: nowrap;
}

.twoslash-popup-container code {
  display: block;
  text-wrap: nowrap;
}

/* HEADING STYLES */
/* uses in page titles */
.fx_page_title {
  font-size: clamp(30px, 5vw, 48px);
  line-height: 1.2;
}

/* uses in design */
.dheading_sync {
  font-size: clamp(35px, 5vw, 56px);
  line-height: 1.2;
}

/* uses in design */
.super_dheading_sync {
  font-size: clamp(40px, 5vw, 64px);
  line-height: 1.2;
}
