.doc-hide-scrollbar {
  scrollbar-color: transparent transparent !important;
  transition: .5s ease all;
}

.doc-hide-scrollbar:hover{
  scrollbar-color: var(--scrollbar-color) transparent !important;
}

@media screen and (max-width: 1080px) {
  .doc-aside-toggle-btn {
    display: flex;
  }

  .doc-aside-nav {
    width: 260px;
    position: fixed !important;
    top: 0;
    border-right: 1px solid var(--primary-border-color);
    z-index: 9;
    padding-left: 8px;
    padding-right: 10px;
  }

  .doc-aside-nav-loader {
    display: none;
  }

  .doc-aside-nav-off {
    left: -244px;
  }

  .doc-aside-nav-container {
    height: calc(100% - 75px) !important;
  }

  .doc-main-layout-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .doc-search-button {
    gap: 30px;
  }
}

@media screen and (max-width: 900px) {
  .desktop-doc-search {
    display: none;
  }

  .doc-search-button {
    padding: 0px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-doc-search {
    display: flex;
  }

  .doc-search-button {
    gap: 30px;
    background-color: transparent;
    border: none;
  }

  .docs-header {
    justify-content: right;
    padding-right: 80px;
  }

  .doc-header-logo {
    width: 100%;
  }

  .doc-header-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .doc-header-menu {
    position: absolute;
    height: 100%;
    top: 0;
    padding: 0px 15px;
    width: 220px;
    justify-content: center;
    background-color: var(--third-bg);
    border-left: 1px solid var(--primary-border-color);
  }
}

@media screen and (max-width: 800px) {
  .doc-aside-onpage-toggle-btn {
    display: flex;
  }

  .doc-aside-loading {
    display: none;
  }
  .doc-on-this-page-aside {
    width: 230px;
    position: fixed !important;
    right: -215px;
    background-color: var(--background);
    padding-left: 20px;
    padding-right: 10px;
    border-left: 1px solid var(--primary-border-color);
    transition: 0.15s ease-out;
  }

  .doc-onthispage-aside-open {
    right: 0;
  }

  .doc-on-this-page-aside-container {
    height: calc(100% - 75px) !important;
  }
}

@media screen and (max-width: 580px) {
  .doc-pagination {
    flex-wrap: wrap;
  }

  .doc-paginate-btn {
    height: 50px;
  }
}

@media screen and (max-width: 450px) {
  .edit-page-github {
    flex-wrap: wrap;
  }

  .edit-page-github-btn {
    width: 100%;
  }
}
