.hero_workspace_box::after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  z-index: -1;
  padding: 1px;
  transform: translate(-50%, -50%);
  border-radius: 26px;
  background-image: conic-gradient(
    from 99deg,
    transparent 145deg,
    transparent 44deg,
    var(--color-indigo-500) 195deg,
    transparent 258deg,
    transparent 1turn
  );
  filter: blur(0px);
  opacity: 50%;
}

.hero_workspace_box::before {
  content: "";
  box-sizing: content-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  z-index: -1;
  padding: 1px;
  transform: translate(-50%, -50%);
  border-radius: 26px;
  background-image: conic-gradient(
    from 224deg,
    transparent 145deg,
    transparent 44deg,
    var(--color-indigo-500) 195deg,
    transparent 258deg,
    transparent 1turn
  );
    filter: blur(0px);
    opacity: 50%;
}


.chrome_tab::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  bottom: 0;
  left: 100%;
  box-shadow: -13px 11px  var(--background-color-850C);
}

.chrome_tab::after{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  bottom: 0;
  right: 100%;
  box-shadow: 13px 11px var(--background-color-850C);
}