.profile-image:hover {
  outline: 3px solid var(--secondary-hover-bg);
  cursor: pointer;
}

.profile-image:active {
  outline: 3px solid var(--primary-color);
}

.team-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
