
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.rgb-animation::after{
    content: "";
    box-sizing: content-box;
    position: absolute;
    background-image: conic-gradient(from var(--angle), var(--primary-color), #fb00ff, var(--primary-color) );
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    z-index: -1;
    padding: 3px;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    animation: spinCbtn 3s linear infinite 
}

@keyframes spinCbtn {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg
    }
}

.login-fx-logo-box::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, #000000, #525252);
    border-radius: 9px ;
    padding: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    z-index: -1;
}

.light .login-fx-logo-box::before{
    background: linear-gradient(to top right, #949494, #f4f4f4);
}